header {
    width: 100%;
}

header nav {
    display: none !important;
    width: calc(100% - 2rem); /* supaya ada jarak kiri dan kanan */
    padding: 0 1.4rem;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 1rem; /* beri jarak kiri */
    right: 1rem; /* beri jarak kanan */
    bottom: 1rem; /* beri jarak bawah */
    z-index: 99;
    transform: none;
    transition: none;
    border-top: 1px solid #ddd;
    border-radius: 15px; /* buat sudut membulat */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* opsional, supaya ada bayangan */
}

header nav.active,
header nav.scroll {
    bottom: 0; /* tidak perlu efek naik/turun */
    transform: none;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.1rem;
    width: 4rem;
    height: 3rem;
    color: #000;
    text-decoration: none;
}

header nav a i {
    font-size: 1.2rem;
}

header nav a span {
    font-size: 0.6rem;
}

header nav a:hover {
    background-color: #000;
    color: #fff;
}
